{%- extends 'layouts/black.html.twig' -%}

{% import '@WexBaseBundle/Resources/templates/macros/tabs.html.twig' as macro_tabs %}

{%- set layout_name = layout_name|default('public') -%}

{# Has a header bar with mobile burger and user menu #}
{%- block layout_composer_html -%}
    <header>
        <div class="layout-header">
                <a class="logo" href="{{ url('home_index') }}" title="{{ 'common.app::name' | trans }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 254.6 245.1">
                        <path fill="none" stroke="#006600" stroke-linejoin="round" stroke-width="9"
                              d="M226 228c7-2 6-7 6-16-2-20-11-88 17-116 2-2 1-5-2-4-13 6-26 15-35 35-3-47-33-37-51-67 0-1-1-3-3-1-4 2-7 11-7 22-8-24-34-26-38-53 0-2-2-4-4 0-6 11-11 47-7 68C88 83 76 38 79 8c0-5-3-5-7 0-25 32-26 71-20 104C41 96 8 97 5 126c-1 3 0 3 2 1 9-9 26-4 21 17-9 33-8 55-6 69s9 16 17 18c10 3 67 12 107 9 9-1 2-7 16-7 21 0 46-1 64-5Z"/>
                        <path fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-width="9"
                              d="M53 196c5-16 29-16 35-3m45 5c0-17-29-20-34-4"/>
                    </svg>
                </a>
        </div>
    </header>
    <div class="container-medium">
        <nav id="nav-secondary">
            {{ macro_tabs.start() }}
            {{ macro_tabs.tab_to_page('home_index') }}
            {{ macro_tabs.tab_to_page('demo_assets') }}
            {{ macro_tabs.tab_to_page('demo_loading') }}
            {{ macro_tabs.tab_to_page('demo_translations') }}
            {{ macro_tabs.tab_to_page('demo_components') }}
            {{ macro_tabs.end() }}
        </nav>
        {% if page_title is defined %}
            <h1>{{ page_title | trans }}</h1>
        {% endif %}
        <div class="page-content-body">
            {{ block('page') }}
        </div>
    </div>
{%- endblock -%}
