{%- extends '@WexampleSymfonyDesignSystemBundle/layouts/design_system/layout.html.twig' -%}

{%- block page_body -%}
    <h1>{{ '@page::page_title' | trans }}</h1>
    <p>
        {{ '@page::body' | trans }}
    </p>
    <h2>{{ '@page::title_side_left' | trans }}</h2>
    <div class="side-body horizontal">
        <div>
            SIDE ONE
        </div>
        <div>
            SIDE TWO
        </div>
        <div class="body">
            BODY
        </div>
    </div>
    <h2>{{ '@page::title_side_right' | trans }}</h2>
    <div class="side-body horizontal">
        <div class="body">
            BODY
        </div>
        <div>
            SIDE ONE
        </div>
        <div>
            SIDE TWO
        </div>
    </div>
    <h2>{{ '@page::title_side_both' | trans }}</h2>
    <div class="side-body horizontal">
        <div>
            SIDE ONE
        </div>
        <div>
            SIDE TWO
        </div>
        <div class="body">
            BODY
        </div>
        <div>
            SIDE THREE
        </div>
        <div>
            SIDE FOUR
        </div>
    </div>
{%- endblock -%}