<button class="button{% if options.class is defined %} {{ options.class }}{% endif %}"
        type="{{ options.type|default('button') }}"
        {{ component_render_tag_attributes(options) }}>
    <span class="button--icon">
        {{ icon(icon) }}
    </span>
    <span>{{ label | trans }}</span>
</button>
