{% if route is defined and route %}
    {% set _trans_domain = translation_build_domain_from_template_path(page_translation_path_from_route(route)) %}
    {% set _icon_name = (_trans_domain ~ '::page_icon') | trans %}
    {% set _label = (_trans_domain ~ '::page_title') | trans %}
{% else %}
    {% set _icon_name = icon_name %}
    {% set _label = label %}
{% endif %}
<li class="{{ component_init_class(render_pass, '@WexampleSymfonyDesignSystemBundle/components/menu-item-collapsible') }} menu-item-collapsible{{ is_open ? ' is-open' : '' }}">
    <div class="menu-item-collapsible--header">
        <a href="{{ href }}" class="menu-item-collapsible--link">
            <span class="menu--item--icon">{{ icon(_icon_name) }}</span>
            <span class="menu--item--label">{{ _label }}</span>
        </a>
        <button class="menu-item-collapsible--toggle" type="button">{{ icon('ph:bold/caret-down') }}</button>
    </div>
    <div class="menu-item-collapsible--sub">{{ content | raw }}</div>
</li>
