{% set size = size|default('md') %}
{% set variant = variant|default('default') %}
{% set extra_class = class|default('') %}
{% set spinner_attr = attr|default({}) %}
{% set aria_label = label|default(null) %}

<div class="spinner--wrapper{% if extra_class %} {{ extra_class }}{% endif %}">
    <div class="spinner spinner--{{ size }}{% if variant and variant != 'default' %} spinner--{{ variant }}{% endif %}"
         {% if aria_label %}role="status" aria-label="{{ aria_label }}"{% else %}aria-hidden="true"{% endif %}
         {{ component_render_tag_attributes(spinner_attr) }}>
        <span class="spinner--circle"></span>
    </div>
</div>
