{% set active_class = '' %}
{% if route is defined and route %}
    {% set active_class = route_is_current(route, route_params|default({}), 'tabs--item--active') %}
{% elseif options.active is defined and options.active %}
    {% set active_class = 'tabs--item--active' %}
{% endif %}
<a class="tabs--item {{ active_class }}{% if options.class is defined %} {{ options.class }}{% endif %}"
   href="{{ href }}"
   {{ component_render_tag_attributes(options.attr|default({})) }}>
    <span class="tabs--item-content">
        {% if options.icon is defined and options.icon %}
            <span class="tabs--item-icon">{{ icon(options.icon) }}</span>
        {% endif %}
        <span class="tabs--item-label">{{ label | trans }}</span>
    </span>
</a>
