{%- extends 'layouts/public.html.twig' -%}

{%- block page_body -%}
    <div class="blocks blocks-no-stretch blocks-side-column-right">
        <div class="block">
            {{ '@page::layout_overlay.body' | trans }}
        </div>
        <div class="block blocks-col">
            {{ component('components/button', {id:'page-overlay-show', text:'Test One'}) }}
        </div>
    </div>
    <div class="blocks blocks-no-stretch blocks-side-column-right">
        <div class="block">
            {{ '@page::layout_modal.body' | trans }}
        </div>
        <div class="block blocks-col">
            {{ component('components/button', {id:'page-modal-show', text:'Test Two'}) }}
        </div>
    </div>
    <div class="blocks blocks-no-stretch blocks-side-column-right">
        <div class="block">
            Simple vue component
            {{ vue('pages/demo/vue/demo-vue-component') }}
        </div>
    </div>
    {{ vue('vue/debug-assets') }}
{%- endblock -%}