{%- extends '@WexampleSymfonyDesignSystemBundle/layouts/demo/layout.html.twig' -%}

{%- block page_body -%}
    {% set usages = ['color_scheme', 'fonts', 'margins', 'animations'] %}
    {% for usage in usages %}
        <h2>{{ ('@page::' ~ usage ~ '.title') | trans }}</h2>
        <div class="block">
            {{ ('@page::' ~ usage ~ '.body') | trans | raw }}
        </div>
        <div class="blocks">
            {% for key, config in render_pass.usagesList[usage].list %}
                <div class="block blocks-col">
                    <button data-usage-name="{{ usage }}" data-usage-value="{{ key }}" class="demo-button-switch-usage">{{ key }}</button>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{%- endblock -%}