{%- extends '@WexBaseBundle/Resources/templates/bases/base.html.twig' -%}

{%- block layout_base -%}
    {{- parent() -}}

    <div class="layout-{{ adaptive_rendering_base() }}">
        {%- block layout -%}
            {%- block layout_composer_json -%}
                {%- block page -%}
                    {{ adaptive_response_set_context('page', page_name) }}
                    {%- block page_config -%}{%- endblock -%}
                    {%- block page_composer_json -%}
                        {%- if block('page_body') is defined -%}
                            {{- block('page_body') -}}
                        {%- endif -%}
                    {%- endblock -%}
                    {{ adaptive_response_revert_context() }}
                {%- endblock -%}
            {%- endblock -%}
        {%- endblock -%}
    </div>
{%- endblock -%}