{%- extends '@WexampleSymfonyDesignSystemBundle/bases/base.html.twig' -%}

{%- block layout_config -%}
    {{ parent() }}
    {{ trans_js(render_pass, '@WexampleSymfonyDesignSystemBundle.common.system::*') }}
    {{ var_js(render_pass, 'displayBreakpoints', display_breakpoints) }}
    {{ var_js(render_pass, 'enableAggregation', render_pass.enableAggregation) }}
    {{ var_js(render_pass, 'usagesConfig', render_pass.usagesConfig) }}
{% endblock %}

{%- block layout_base -%}
    {{- parent() -}}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8"/>
        {%- if render_pass.isUseJs() -%}
            <script nonce="layout-init">
              "use strict";

              {# Use old school fashioned javascript notation to improve compatibility. -#}
              var AppRegistryBundlesManager = function AppRegistryBundlesManager() {
                this.classes = {};
              };

              AppRegistryBundlesManager.prototype = {
                add: function add(id, definition) {
                    {# Prevent class override. -#}
                  if (!this.classes[id]) {
                    this.classes[id] = definition;
                  }

                  var app = window.app;

                  if (!app) {
                    throw new Error("Unable to start app.");
                  }

                    {# When app core is not loaded, -#}
                    {# js asset might be preloaded. -#}
                  if (app.hasCoreLoaded) {
                      {# Mark now that class is loaded. -#}
                    app.services.assets.jsPendingLoaded(id);
                  }

                    {# Return to allow export or extending class. -#}
                  return definition;
                }
              };

              window.appRegistry = {bundles: new AppRegistryBundlesManager()};
            </script>
        {%- endif -%}
        {{- constant('\\Wexample\\SymfonyDesignSystem\\Helper\\RenderingHelper::PLACEHOLDER_PRELOAD_TAG') | raw -}}
    </head>
    <body class="{{ body_class|default('') }}">
    <div id="layout" class="layout-loading {{ layout_class|default('') }}">
        {%- if render_pass.isUseJs() -%}
            {# Don't use display none as we need to be able to calculate elements size before display #}
            <style>
                .layout-loading {
                    visibility: hidden;
                }
            </style>
            {#- If javascript fails to complete, force removing loading state after a few time. -#}
            <script nonce="layout-loading">
              var classList = document.getElementById('layout').classList;
              classList.add('layout-loading');
              setTimeout(function () {
                classList.remove('layout-loading');
              }, 1000);
            </script>
        {%- endif -%}
        {%- block layout -%}
            {%- block layout_composer_html -%}
                {%- block page -%}
                    {{ render_pass.setCurrentContextRenderNode(render_pass.layoutRenderNode.page) }}
                    {%- block page_config -%}{%- endblock -%}
                    {{- block('page_body') -}}
                    {{ render_pass.revertCurrentContextRenderNode() }}
                {%- endblock -%}
            {%- endblock -%}
        {%- endblock -%}

        <div id="vue-templates">
            {{ vue_render_templates() | raw }}
        </div>
    </div>
    </body>
    </html>
{%- endblock -%}
