{%- extends '@WexampleSymfonyDesignSystemBundle/bases/base.html.twig' -%}

{%- import '@WexampleSymfonyDesignSystemBundle/macros/assets.html.twig' as macro_assets -%}

{%- block layout_base -%}
    {{- parent() -}}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8"/>

            <script nonce="layout-init">
              "use strict";

              {# Use old school fashioned javascript notation to improve compatibility. -#}
              var AppRegistryBundlesManager = function AppRegistryBundlesManager() {
                this.classes = {};
              };

              AppRegistryBundlesManager.prototype = {
                add: function add(id, definition) {
                  {# Prevent class override. -#}
                  if (!this.classes[id]) {
                    this.classes[id] = definition;
                  }

                  var app = window.app;

                  if (!app) {
                    throw new Error("Unable to start app.");
                  }

                  {# When app core is not loaded, -#}
                  {# js asset might be preloaded. -#}
                  if (app.hasCoreLoaded) {
                    {# Mark now that class is loaded. -#}
                    app.services.assets.jsPendingLoaded(id);
                  }

                  {# Return to allow export or extending class. -#}
                  return definition;
                }
              };

              window.appRegistry = {bundles: new AppRegistryBundlesManager()};
            </script>
            {# Don't use display none as we need to be able to calculate elements size before display #}
            <style>
                .layout-loading {
                    visibility: hidden;
                }
            </style>
    </head>
    <body class="color-scheme-{{ layout_color_scheme }}">
    <div id="layout" class="layout-loading">
        {#- If javascript fails to complete, force removing loading state after 2 seconds. -#}
        <script nonce="layout-loading">
          var classList = document.getElementById('layout').classList;
          classList.add('layout-loading');
          setTimeout(function () { classList.remove('layout-loading'); }, 1000);
        </script>
        {%- block layout -%}
            {%- block layout_composer_html -%}
                {%- block page -%}
                    {{ adaptive_response_set_page_context(render_pass) }}
                            {{- block('page_body') -}}
                    {{ adaptive_response_revert_context(render_pass) }}
                {%- endblock -%}
            {%- endblock -%}
        {%- endblock -%}
    </div>
        {{ macro_assets.render_available_css(render_pass, 'layout') }}
        {{ macro_assets.render_available_css(render_pass, 'page') }}
        {{ macro_assets.render_available_js(render_pass, 'layout') }}
        {{ macro_assets.render_available_js(render_pass, 'page') }}

        <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>

        <script type="text/javascript" nonce="layout-data" id="layout-data">
          {%- set layout_initial_data = layout_render_initial_data(render_pass) -%}
          window.appRegistry.layoutRenderData = {{ layout_initial_data | json_encode(constant('JSON_PRETTY_PRINT')) | raw }};
        </script>

        {% if debug -%}
            <div id="debug">
                <h2>Layout initial data</h2>
                {{ dump(layout_initial_data) }}
                <h2>Translations</h2>
                {{ dump(translation_debug_info(render_pass)) }}
            </div>
        {% endif -%}
    </body>
    </html>
{%- endblock -%}
