{%- extends '@WexampleSymfonyDesignSystemBundle/bases/base.html.twig' -%}

{%- block layout_base -%}
    {{- parent() -}}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8"/>
        <title>
            {{- base_template_render_title(
                layout_title|default(null),
                layout_title_properties|default({}),
                app_title|default(null),
                app_title_properties|default({}),
            ) -}}
        </title>
            <script nonce="layout-init">
              "use strict";

              {# Use old school fashioned javascript notation to improve compatibility. -#}
              var AppRegistryBundlesManager = function AppRegistryBundlesManager() {
                this.classes = {};
              };

              window.appRegistry = {bundles: new AppRegistryBundlesManager()};
            </script>
        {{ constant('Wexample\\SymfonyDesignSystem\\Helper\\RenderingHelper::PLACEHOLDER_PRELOAD_TAG')|raw }}
    </head>
    <body class="{{ body_class|default('') }}">
    <div id="layout-initial" class="layout-loading">
        {{- block('page_body') -}}
    </div>
    </body>
    </html>
{%- endblock -%}
