{%- extends '@WexampleSymfonyDesignSystemBundle/pages/design_system/generic/content/layout/layout-content.html.twig' -%}

{%- block page_body -%}
    <div class="container align-center content">
        <h1>{{ '@page::article.title' | trans }}</h1>
        <div class="article block block--padded prose">
            <p>{{ lorem_ipsum(180) }}</p>
            <p>{{ lorem_ipsum(420) }}</p>
            <h2>{{ '@page::article.section_one.title' | trans }}</h2>
            <p>{{ lorem_ipsum(800) }}</p>
            <h2>{{ '@page::article.section_two.title' | trans }}</h2>
            <p>{{ lorem_ipsum(300) }}</p>
        </div>
    </div>
{%- endblock -%}
