<div class="container-medium">
    <h2>Logo base</h2>
    <div class="grid-cols-2">
        <div>
            <img class="logo" src="{{ asset('build/images/logo/logo-fr.svg') }}"
                 alt="{{ 'front.app.global::name' | trans }} logo">
        </div>
        <div>
            <img class="logo" src="{{ asset('build/images/logo/logo-en.svg') }}"
                 alt="{{ 'front.app.global::name' | trans }} logo">
        </div>
    </div>
    <h2>Logo strip</h2>
    <div class="grid-cols-4">
        {% for color_name, color_value in design_system_colors() %}
            <div class="background-color-{{ color_name }}">
                <img class="logo" src="{{ asset('build/images/logo/logo-fr-uni.svg') }}"
                     alt="{{ 'front.app.global::name' | trans }} logo">
            </div>
        {% endfor %}
    </div>
    <h2>Logo square</h2>
    <div class="grid-cols-4">
        {% for color_name, color_value in design_system_colors() %}
            <div class="background-color-{{ color_name }}">
                <img class="logo" src="{{ asset('build/images/logo/logo-square.svg') }}"
                     alt="{{ 'front.app.global::name' | trans }} logo">
            </div>
        {% endfor %}
    </div>
</div>
<br>
<br>