{%- extends '@WexampleSymfonyDesignSystemBundle/vue/bases/form.vue.twig' -%}
{%- set demo_form_translation_domain = translationDomain|default('WexampleSymfonyDesignSystemBundle.vue.form.demo-form') -%}
{%- set form_errors_translation_prefix = demo_form_translation_domain ~ '::form.error.' -%}

{%- block vue_require -%}
    {{ parent() }}
    {{- vue_require(render_pass, '@WexampleSymfonyDesignSystemBundle/vue/form/fields/text-input') -}}
    {{- vue_require(render_pass, '@WexampleSymfonyDesignSystemBundle/vue/form/fields/submit-button') -}}
{%- endblock -%}

{%- block form_body -%}
    <div class="lead">
        {{ '@vue::description' | trans }}
    </div>
    <text-input
            v-model="name"
            name="text_simple"
            :errors="fieldErrors['text_simple'] || []"
            label="{{ (demo_form_translation_domain ~ '::field.text_simple.label')|trans }}"
            placeholder="{{ (demo_form_translation_domain ~ '::field.text_simple.placeholder')|trans }}"
            error-translation-prefix="{{ demo_form_translation_domain ~ '::field.text_simple.error.' }}"
    ></text-input>

    <div class="form--actions">
        <submit-button :label="'{{ demo_form_translation_domain ~ '::action.submit' }}'"></submit-button>
    </div>
{%- endblock -%}
